*{
    margin: 0;
}

body{
    background: linear-gradient(to bottom right,rgb(86, 58, 245), rgb(44, 5, 61));
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2em;
    gap: 4em;
    color: white;
    min-height: 91vh;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

main{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em;
}

section {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom right,rgb(86, 58, 245), rgb(44, 5, 61));
    border: 2px solid rgb(255, 255, 255);
    border-radius: 24px;
    min-width: 400px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

section:hover {
    transform: translate(-4px, -8px);
    box-shadow: 4px 8px 20px rgba(213, 159, 255, 0.554);
}

h2{
    padding: 1em;
    height: 50px;
}

div{
    display: flex;
    flex-direction: column;
    object-fit: contain;
    gap: 1em;
    padding: 1em;
}
